<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<head>
	    <title>Tambah Buku</title>
	    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
	    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
	    <nav th:replace="fragments/fragment :: navbar"></nav>
	    <br>
	    <div class="container-fluid">	      
	        <div class="row">
	            <div class="col-md-4">
	            	 <div class="card">
	            	 <b><center><div text-align = "center" class="card-header">Tambah Buku</div></center></b>
	            	 <div text-align = "center" class="card-body" th:text="'Isian bertanda (*) wajib diisi'"></div>
	                    <div class="card-body"> 
	                        <form th:action="@{/buku/add}" th:object="${buku}" method="POST">
	                            Kode Buku*: <br>
	                            <input type="text" name="kode" class="form-control"/>
	                            <br>
	                            Judul*: <br>
	                            <textarea name="judul" class="form-control" rows="2"></textarea>
	                            <br>
	                            <div class="form-row">
	                            <div class="col">
	                            Jenis*: <br>
	                            <div class="form-row">
	                            	<div class="form-group col-md-9">
			                            <select class="form-control" id="jenis" name="jenis">
								<option value="1">Karya Tulis</option>
								<option value="2">Majalah/Koran</option>
								<option value="3">Cerita/Novel</option>
								<option value="4">Buku Ajar</option>
								<option value="5">Lainnya</option>
										</select>
									</div></div></div><br>
								<div class="col">  
								Tanggal Terbit*: <br>
	                            <input type="date" name="tanggal_terbit" class="form-control"/></div></div>
	                            <br>
	                            Pengarang: <br>
	                            <input type="text" name="pengarang" class="form-control"/>
	                            <br>
	                            Penerbit: <br>
	                            <input type="text" name="penerbit" class="form-control"/>
	                            <br>
	                            Abstrak: <br>
	                            <textarea name="abstrak" class="form-control" rows="3"></textarea>
	                            <br>
	                            Status*: <br>
	                            <input type="number" name="status" class="form-control"/>								  							
	                            <br><br>                          
	                            <button type="submit" class="btn btn-success" name="submit">Simpan</button>
	                            <br>
	                        </form>
	                     </div>
                	</div>		        
	            </div>
	            <div class="col-md-4"></div>
	        </div>        
	    </div>

	</body>
</html>